{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tutoria.css'%}">
    <link rel="stylesheet" href="{% static 'css/links_reutilizados.css'%} ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Document</title>
</head>
<body>
    {% include 'codigos reutilizados/links_reutilizados.html' %}
    {% block links %}
    {% endblock %}
    {% include 'codigos reutilizados/menssage.html' %}
    {% block menssagem %}
    {% endblock %}
    <div class="casdds" style="background: linear-gradient(135deg, #301ea8, #3a2c99);">
      <div class="d-flex flex-column">
          <div class="d-flex text-center text-white justify-content-center flex-column text-lg mb-4">
              <h2 style="font-weight: bold; font-size: 2.5rem; margin-bottom: 20px;" id="text-tutor">Tutores</h2>
              <hr id="hr" style="width: 60px; height: 4px; background-color: #a2d2ff; border: none; margin: 10px auto 30px; border-radius: 2px;">
          </div>
          
          <div class="card-container"> <!-- Removido d-flex para usar grid -->
              {% for i in tutores %}
                  <div class="card-1">
                      <div class="top-section" style="background-image: url('../../../media/{{i.imagem}}');">
                          <img src="../../../media/{{i.imagem}}" alt="Wilmeika and Juliano">
                      </div>
                      <div class="align">
                          <h2>{{i.nome}}</h2>
                          <p>{{i.descricao}}</p>
                          <a style="background-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
                          padding: 10px 20px;
                          border-radius: 20px;
                          font-size: 1.1em;
                          text-decoration: none;" href="http://www.google.com.br/" target="_blank" rel="noopener noreferrer">Votar</a>
                      </div>
                  </div>
              {% endfor %}
          </div> <!-- Fecha a div card-container -->
      </div>
  </div>
  

<br><br>

<section class="bg-light p-5">
  <h2 class="text-center" style="font-weight: bold; font-size: 2.5rem; margin-bottom: 20px;" id="text-why">Por que é Importante a escolha do meu tutor?</h2>
  <hr id="hr" class="text-center" style="width: 60px; height: 4px; background-color: #ffde59; border: none; margin: 10px auto 30px; border-radius: 2px;">
  <div class="d-flex justify-content-center pt-4" style="gap: 100px;" >
    <p style="width: 600px; font-size: 1.5rem;" id="about-why">
      
A escolha do tutor escolar é crucial para o sucesso acadêmico do aluno. Um bom tutor pode identificar as dificuldades do estudante e adaptar as explicações de forma personalizada, garantindo que ele compreenda o conteúdo de maneira eficaz. Além disso, o tutor oferece suporte emocional, ajuda a manter a motivação e fortalece a confiança do aluno, estimulando o interesse pelo aprendizado. Com um acompanhamento individualizado, o tutor também pode ajudar a melhorar o desempenho nas matérias em que o aluno apresenta mais dificuldades, contribuindo para seu desenvolvimento e crescimento acadêmico.
    </p>
    <div class="line"></div>
    <img src="../.././../media/img_fixas/Sandra.png" width="600px" alt="" id="sandra" style="mix-blend-mode: multiply;">
  </div>
  
</section>

<div id="carouselExampleControls" class="carousel slide p-5" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="3000">
  <div class="d-flex justify-content-between align-items-center w-100">
    <div class="text-center d-flex align-items-center flex-row" style="flex: 1; gap: 80px;">
      <div class="d-flex flex-column align-items-center">
        <h1 id="qualify-teachers" class="text-warning p-3 d-inline" style="background-color: rgb(8, 83, 196); border-radius:20px;box-shadow: 0px 2px 7px black;">Os Melhores Tutores !!!</h1>
        <p id="about-qualify" style="margin-top: 20px;" class="w-75 px-5">Na nossa instituição, contamos com profissionais qualificados e dedicados, prontos para atender às necessidades dos seus filhos. Todos os nossos tutores são formados e preparados para guiar os alunos em sua jornada de aprendizado, proporcionando uma educação de excelência e ajudando-os a desbravar o vasto mundo do conhecimento.</p></div>
  <div class="carousel-inner w-50" style="border-radius: 30px;">
      <div class="carousel-item active">
          <img src=".././../../media/img_fixas/Gislene.png" class="d-block w-100 img-fluid" alt="Professora Gislene">
      </div>
      <div class="carousel-item">
          <img src=".././../../media/img_fixas/Jerry.png" class="d-block w-100 img-fluid" alt="Professor Jerry">
      </div>
      <div class="carousel-item">
          <img src=".././../../media/img_fixas/Walas.png" class="d-block w-100 img-fluid" alt="Professor Walas">
      </div>
  </div>

</div>
</div>
</div>


{% include 'codigos reutilizados/footer.html' %}
{% block footer %}
{% endblock %}
  <script>
    let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
  </script>
  <script>
    function vai(x){
        window.location.href = `${x.dataset.link}`
    }
  </script>

  
<script src="{% static 'js/mouse_funcoes.js' %}"></script>
<script src="{% static 'js/links_reutilizados.js' %}"></script>
<script src="{% static 'js/TutoriaReveal.js' %}"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>