{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir Carrossel</title>
    <link rel="stylesheet" href="{% static 'css/Caro_Add.css' %}">
</head>
<body>

    {% include 'tabelas/aluno_professor_tabela.html' %}
    {% block tabela_aluno_professor %}
    {% endblock %}

    <script src="{% static 'js/acoes_tabela.js' %}"></script>
    <script src="{% static 'js/acao_tabela_pesquisar.js' %}"></script>
    <script>
        function validarFormCarrossel() {
            let ids = String(document.querySelector('input[name="ids"]').value).split(',')
            if(ids.length === 3) {
                return true;
            }
            document.querySelector('h3[id="selecione"]').style.color = "red";
            return false;
        }
    </script>
</body>
</html>
