{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir carrossel</title>
</head>
<body>
    <div id="table-py"  style="font-family:Poppins;" data-modo="{{modo}}">
        <div id="form-div " class="d-flex flex-column justify-content-center align-items-center mb-4" >
            <style>
                ::-webkit-scrollbar{
                    display: none;
                }
            </style>
    
    
            <label for="ordem">Procurar por:</label>
            <input type="text" id="ordem" name="ordem" onkeyup="pesquisar(this)">
            <label for="coluna"> na coluna</label>
            <select name="coluna" id="coluna">
                <option value="id" selected>id</option>
                <option value="nome">nome</option>
                <option value="email">email</option>
            </select>
                <h3 id="selecione">Selecione 3 tutores</h3>
                <h3>Selecionados: <span id="numero_selecionados">0</span></h3> 
                <form action="" method="post"  onsubmit="return validarFormCarrossel()">{% csrf_token %}
                    <input type="text" name="ids" id="ids">
                    <input type="submit" value="enviar" id="enviar-car">
                </form>

        </div>
        <table id="tabela" class="table table-hover" data-user="{{tabela_user_passado_como_parametro}}" data-id_do_user_logado="None">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Perfil</th>
                <th scope="col">Email</th>
               
              </tr>
            </thead>
            <tbody>
                {% for i in usuarios %}
                    <tr id="{{i.id}}" onclick="adicionar_linha(this)">
                        <th scope="row" class="id" data-id="{{i.id}}">{{i.id}}</th>
                        <td class="nome" data-id="{{i.id}}">{{i.nome}}</td>
                        <td class="imagem" data-id="{{i.id}}"><img src="../../../media/{{i.imagem}}" alt="" width="50"></td>
                        <td class="email" data-id="{{i.id}}">{{i.email}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
    <script src="{% static 'js/acoes_tabela.js' %}"></script>
    <script src="{% static 'js/acao_tabela_pesquisar.js' %}"></script>
    <script>
        function validarFormCarrossel(){
            let ids = String(document.querySelector('input[name="ids"]').value).split(',')
            if(ids.length == 3){
                return true
            }
            document.querySelector('h3[id="selecione"]').style.color = "red"
            return false
            
        }
    </script>
</body>
</html>