{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styler_2.css'%}">
    <link rel="stylesheet" href="{% static 'css/links_reutilizados.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://unpkg.com/scrollreveal"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<title>Document</title>
</head>
<body>
    {% include 'codigos reutilizados/links_reutilizados.html' %}
    {% block links %}{% endblock %}
    {% include 'codigos reutilizados/menssage.html' %}
    {% block menssagem %}{% endblock %}

   
    
    <div class="casdds" style="background: linear-gradient(135deg, #301ea8, #3a2c99);">
        <div class="d-flex flex-column">
            <div class="d-flex text-center text-white justify-content-center flex-column text-lg mb-4">
                <h2 style="font-weight: bold; font-size: 2.5rem; margin-bottom: 20px;" id="text-eletiva">Eletivas</h2>
                <hr id="hr" style="width: 60px; height: 4px; background-color: #a2d2ff; border: none; margin: 10px auto 30px; border-radius: 2px;">
            </div>
            
            <div class="card-container"> <!-- Removido d-flex para usar grid -->
            {% for i in eletivas %}
                <div class="m-2" style="max-width: calc(33.33% - 1rem);"> <!-- Limita a 3 cards por linha -->
                    <div class="card-1" data-materia="{{i.titulo}}" data-id="{{i.id}}" onmouseenter="entrou(this)" onmouseleave="saiu(this)">
                        <div class="top-section" style="background-image: url('../../../media/{{i.imagem}}');">
                            <img src="../../../media/{{i.img_professores_eletiva}}" alt="Wilmeika and Juliano">
                        </div>
                        {% load pesquisa_de_professores %}
                        <div class="align">
                            <h2>{{todos_professores|pesquisar_professor:i.titulo}}</h2>
                            <p>{{i.descricao}}</p>
                        </div>
                        <button onclick="vai(this)" data-link="{{i.link}}">Escolher</button>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    
    

    <section>
        <div class="ini bg-light p-5">
            <h1 id="see-more" class="title-ele p-2  text-warning" style="background-color: rgb(8, 83, 196);font-family: Poppins; border-radius: 20px; 
    Z-INDEX: 1;     box-shadow: 0px 2px 7px black; width: 464px; 
    height: 119px;
">Veja Mais</h1>
            <h2 id="about-eletives" class="p-2 bg-warning  font-family: Poppins, sans-serif; " style="margin-top: -19px;
    position: relative;
    border-radius: 25px;
    z-index: 2;     box-shadow: 0px 2px 7px black;
" >Sobre as eletivas</h2>
            
            <div class="eleti">
                <div id="more-eleti-1" class="div1">
                    <div class="overlay"></div>
                    <img src="../../../media/img_fixas/Sem título.png" alt="">
                    <div class="text"><h1>musica</h1><p>Lorem Ipsum...</p></div>
                </div>
                <div id="more-eleti-2" class="div2">
                    <div class="overlay"></div>
                    <img src="../../../media/img_fixas/Sem título.png" alt="">
                    <div class="text"><h1>musica</h1><p>Lorem Ipsum...</p></div>
                </div>
                <div id="more-eleti-3" class="div3">
                    <div class="overlay"></div>
                    <img src="../../../media/img_fixas/literatura.png" alt="">
                    <div class="text"><h1>literatura</h1><p>Lorem Ipsum...</p></div>
                </div>
                <div id="more-eleti-4" class="div4">
                    <div class="overlay"></div>
                    <img src="../../../media/img_fixas/literatura.png" alt="">
                    <div class="text"><h1>literatura</h1><p>Lorem Ipsum...</p></div>
                </div>
            </div>
        </div>
    </section>


    <div id="carouselExampleControls" class="carousel slide p-5" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="3000">
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-center d-flex align-items-center flex-row" style="flex: 1; gap: 80px;">
            <div class="d-flex flex-column align-items-center">
              <h1 id="qualify-teachers" class="text-warning p-3 d-inline" style="background-color: rgb(8, 83, 196); border-radius:20px;box-shadow: 0px 2px 7px black;">Professores Qualificados</h1>
              <p id="about-qualify" style="margin-top: 20px;" class="w-75 px-5">Em nossa Instituição temos profissionais <br> Qualificados para atender seus filhos, todos formados
                  e preparados para desbravar o mundo do conhecimento.</p></div>
        <div class="carousel-inner w-50" style="border-radius: 30px;">
            {% for i in carrossel %}
            <div class="carousel-item active">
                <img src=".././../../media/img_fixas/Gislene.png" class="d-block w-100 img-fluid" alt="Professora Gislene">
            </div>
            {% endfor %}
            
        </div>
      
      </div>
      </div>
      </div>


<!-- Modal -->
<div id="professorModal" class="modal-overlay" onclick="closeModal(event)" style="display: none;">
    <div class="modal-conteudo">
        <!-- Imagem do Professor -->
        <div class="modal-image-container">
            <img id="modalProfessorImage" src="" alt="Imagem do Professor" class="professor-photo-modal">
        </div>

        <div>
            <img src="../.././../media/img_fixas/logo-asn.png" alt="" width="50px">
        </div>

        <!-- Card Flip ao Lado da Imagem -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <!-- Frente do Card -->
                <div class="flip-card-front">
                    <h2 id="professorName">Nome do Professor</h2>
                    <i class="fa-solid fa-graduation-cap"  style="font-size: 60px;"></i>

                </div>

                <!-- Verso do Card -->
                <div class="flip-card-back">
                    <ul>
                        <li><strong>Idade:</strong> 35 anos</li>
                        <li><strong>Graduações:</strong> Mestre em Matemática</li>
                        <li><strong>Descrição:</strong> Professora com ampla experiência em ensino e pesquisa.</li>
                        <li><strong>Descrição:</strong> Professora com ampla experiência em ensino e pesquisa.</li>
                        <li><strong>Descrição:</strong> Professora com ampla experiência em ensino e pesquisa.</li>
                        <li><strong>Descrição:</strong> Professora com ampla experiência em ensino e pesquisa.</li>
                        <li><strong>Descrição:</strong> Professora com ampla experiência em ensino e pesquisa.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


    

    {% include 'codigos reutilizados/footer.html' %}
    {% block footer %}
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
    <script>
        function vai(x){
            window.location.href = `${x.dataset.link}`
        }
    </script>

    <script>
function openProfessorModal(imageSrc, professorName) {
    // Define a imagem e o nome do professor no modal
    document.getElementById("modalProfessorImage").src = imageSrc;
    document.getElementById("professorName").textContent = professorName;

    // Exibe o modal
    document.getElementById("professorModal").style.display = "flex";
}

function closeModal(event) {
    // Fecha o modal ao clicar fora do conteúdo
    if (event.target.classList.contains("modal-overlay")) {
        document.getElementById("professorModal").style.display = "none";
    }
}

// Adiciona um evento de clique nas imagens do carousel para abrir o modal
document.querySelectorAll(".carousel-item img").forEach(img => {
    img.addEventListener("click", () => {
        openProfessorModal(img.src, img.alt);
    });
});



    </script>

    <script src="{% static 'js/mouse_funcoes.js' %}"></script>
    <script src="{% static 'js/links_reutilizados.js' %}"></script>
    <script src="{% static 'js/eletiva.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</body>
</html>
