{% block footer %}
{% load static %}
<link rel="stylesheet" href="stylescss">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://unpkg.com/scrollreveal"></script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  *{
    font-family: inter;
  }

    footer {
        background-color: #fff; /* Cor de fundo */
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }


    p:hover{
        cursor: pointer;
        color: #eba716;
        transition: .5s;
    }
    p{
        transition: .5s
    }


    .social-icons {
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
    }


    .logo img {
        max-width: 100px;
        height: auto;
    }


    .contact-info {
        text-align: center;
    }


    .contact-info p {
        margin: 5px 0;
    }


    .contact-info p:first-child {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .contact-info p:last-child {
        font-size: 12px;
    }


    .contact-info i {
        margin-left: 5px;
    }


    @media (min-width: 600px) {
        footer {
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 50px;
        }


        .contact-info {
            text-align: left;
        }


        .social-icons {
            margin-bottom: 0;
            display: grid;
            justify-items:center;
        }
        .esquerda{
            flex-direction: column;

        }

        .mei{
            display: flex;
        }
        .mei h1{
            font-size: 30px;
        }
        .mei ul{
            font-size: 15px  ;
        }
    }
</style>
<footer>
    <div class="esquerda">
    <div class="logo">
        <img id="logo-footer" src="../../../media/img_fixas/logo-asn.png" alt="Logo">
    </div>
        <div id="endereco" class="contact-info">
        <p> Av. Cel. Francisco Heráclito dos Santos, 210</p>
        <p>Prédio de Administração,<br> 5º andar, Curitiba/PR</p>

        <br><br>
        <p id="email"> comunicacao@ecomp.com</p>
    </div>
</div>

    <div class="mei" style=" gap: 200px;">
        <div>
        <h1 id="help">Ajuda</h1>
        <ul id="help-links">FAQ</ul>
        <ul id="help-links">Termos de Uso</ul>
        <ul id="help-links">Contato</ul>
</div>
<div>
        <h1 id="institucional">Institucional</h1>
        <ul id="institucional-links">Código de Ética</ul>
        <ul id="institucional-links">Canal de Denúncias</ul>
        <ul id="institucional-links">Política de Privacidade</ul>
        <ul id="institucional-links">Trabalhe conosco</ul>
    </div>
    </div>
    
    <div class="social-icons">
        <h2 id="follow">nos siga nas redes</h2>
        <div>
        <a href="#" id="social">
            <i class="fa-brands fa-facebook fa-2x" style="color: #00aeff;"></i>
        </a>
        <a href="#" id="social">
            <i class="fa-brands fa-square-instagram fa-2x" style="color: #00aeff;"></i>
        </a>
        <a href="#" id="social">
            <i class="fa-brands fa-linkedin fa-2x" style="color: #00aeff;"></i>
        </a></div>
    </div>
    
</footer>
<div style="width: 100%; height: 30px; background-color: #00aeff; align-items: center; text-align: center; display: grid;">
        © 2024 ASN - Todos os direitos reservados
    </div>

    <script src="{% static 'js/CabReveal.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
{% endblock %}